* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  width: 100%;
  height: 1200px;
  margin-bottom: 1.9em;
  background-repeat: no-repeat;
  background: url(./assets/imagenes/33690085_m-1024x675.jpg);
  background-size: cover;
  background-position: center;
}
.header {
  background-color: none;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: whitesmoke;
  text-decoration: none;
}
.logo {
  color: rgb(48, 12, 12);
  font-size: 35px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 90px;
}
.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.nav-menu-item {
  font-size: 20px;
  margin: 0 10px;
  line-height: 90px;
  text-transform: uppercase;
  width: max-content;
}
.nav-menu-link {
  padding: 8px 12px;
  border-bottom: 1px solid;
  border-radius: 5px;
}
.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: rgb(48, 12, 12);
  transition: 0.8s;
}
.nav-toggle {
  color: rgb(15, 15, 15);
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 70px;
  cursor: pointer;
  display: none;
}
/* #bgMain {
  width: 100%;
  height: 1200px;
  margin-bottom: 1.9em;
  background-repeat: no-repeat;
  background: url(./assets/imagenes/33690085_m-1024x675.jpg);
  background-size: cover;
  background-position: center;
} */
/*PANTALLAS MEDIANAS-CHICAS*/

@media (max-width: 768px) {
  body {
    padding-top: 30px;
  }
  .header {
    height: 70px;
  }
  .logo {
    font-size: 25px;
    padding: 0 35px;
    line-height: 70px;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    padding: 20px 0;
    /*para que sea visible el scroll de ser necesario*/
    height: calc(100% - 70px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.5s;
  }
  .nav-menu-item {
    line-height: 150px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    font-weight: bold;
  }
  .nav-toggle {
    display: block;
  }
  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  } /*RESALTAR BOTONES UNICAMENTE CUANDO SE NAVEGUE CON EL TABULADOR*/
}
